

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src="assets/images/angular.svg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">   
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" [routerLink]="['/register']"
              routerLinkActive="active">Registration
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  aria-selected="false" [routerLink]="['/user-details']" routerLinkActive="active">User
          Details</a>
        </li>
      </ul>
      <div class="d-flex user-icon">
        <i class="bi bi-person-circle"></i>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="footer fixed-bottom bg-primary">
  <span class="copyright-text">&#64;Copy Rights</span>
  <span class="year-text">November 2023</span>
</footer>